.AboutTypist {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.7;
  padding: 25px 50px;
  text-align: center; }
  .AboutTypist a {
    color: inherit; }
    .AboutTypist a:hover {
      background-color: #22BAD9;
      color: white;
      text-decoration: none; }
  .AboutTypist-header {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    cursor: pointer;
    color: #22BAD9; }
  .AboutTypist-message {
    color: #22BAD9;
    width: 400px;
    margin: auto; }
    .AboutTypist-message .flash {
      color: #22BAD9;
      font-weight: bold;
      text-decoration: underline;
      animation-name: blinker;
      animation-duration: 0.7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }

@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
